/* google fonts manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

/* customizations */
@theme {
  /* font */
  --font-manrope: "Manrope", sans-serif;
}

@layer base {
  ::selection {
    @apply bg-black text-white;
  }

  body {
    @apply w-full relative overflow-x-hidden font-manrope;
  }

  img {
    @apply select-none pointer-events-none;
  }
}
