/* google fonts manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* customizations */
@theme {
  /* font */
  --font-manrope: "Manrope", sans-serif;
}

@layer base {
  ::selection {
    @apply bg-black text-white;
  }

  body {
    @apply w-full relative overflow-x-hidden font-manrope;
  }

  button {
    @apply transition-colors duration-200;
  }

  li {
    @apply list-none;
  }
}

@layer components {
  .pending {
    @apply text-neutral-400 text-xl font-medium px-[25px] py-3 rounded-full hover:bg-neutral-200/70;
  }

  .active {
    @apply text-neutral-700 text-xl px-[25px] py-3 rounded-full font-semibold bg-neutral-200;
  }
}
